/* tablet-breakpoint: 768px;
laptop-breakpoint: 1024px;
monitor-breakpoint: 1280px; */

:root {
  --main-bg-color: hsl(141, 100%, 93%);
  --secondary-color: hsl(263, 44%, 79%, 50%);
  --font-color: hsl(0, 0%, 0%);
}

body {
  background-color: var(--main-bg-color);
  font-family: "Albert Sans", sans-serif;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

h1 {
  font-family: "Gluten", cursive;
}

h2 {
  font-size: 2rem;
  font-family: "Gluten", cursive;
}

/* Header component */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: 1em;
  padding-block-start: 0.5em;
  padding-block-end: 1.5em;
}

.nav-logo {
  width: 2.5em;
  margin-inline-end: 1em;
}

.personal-logo {
  height: 4em;
  width: 4em;
}

@media (min-width: 768px) {
  .header-wrapper {
    padding-block-start: 1em;
    margin-block-end: 2em;
  }
  .nav-logo {
    width: 3em;
    margin-inline-end: 2em;
  }
  .personal-logo {
    height: 5em;
    width: 5em;
  }
}

@media (min-width: 1024px) {
  .header-wrapper {
    padding-inline: 3em;
    margin-block-end: 5em;
  }
}

@media (min-width: 1280px) {
  .header-wrapper {
    padding-inline: 15em;
  }
  .nav-logo {
    width: 3.5em;
  }
}

/* Intro component */
.intro-section {
  margin-block-end: 5em;
}

.intro-image-wrapper {
  display: flex;
  justify-content: center;
}

.intro-image {
  border-radius: 100%;
  width: 10em;
  filter: drop-shadow(0 0 0.75rem hsl(0, 0%, 50%, 12));
}

.intro-image-laptop {
  display: none;
}

@media (min-width: 768px) {
  .intro-image {
    width: 12em;
  }
}

@media (min-width: 1024px) {
  .intro-image {
    display: none;
  }

  .intro-image-laptop {
    display: block;
    width: 18em;
    margin-inline-end: 7em;
  }

  .intro-section {
    display: flex;
    flex-direction: row-reverse;
  }

}

.intro-text-wrapper {
  margin-inline: 2em;
}

@media (min-width: 500px) and (max-width: 768px) {
  .intro-text-wrapper {
    margin-inline: 2.5em;
  }
}

@media (min-width: 768px) {
  .intro-text-wrapper {
    margin-inline: 3em;
  }
}

@media (min-width: 1024px) {
  .intro-text-wrapper {
    padding-inline-start: 7em;
  }
  .intro-text {
    margin-inline-end: 6em;
  }
}

.intro-text {
  font-size: 1.5rem;
}

.intro-headline {
  font-size: 2.5rem;
}

.intro-links-wrapper {
  margin-block-start: 2em;
  font-size: 1.2rem;
}

.intro-link-individual {
  width: 12em;
  height: 1em;
  padding: 1em;
  background-color: hsl(10, 100%, 81%);
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 0px;
  box-shadow: 8px 8px 0px hsl(10, 100%, 72%);
  text-align: center;
  transition: all 0.25s;
  border-radius: 10%;
}

.intro-link-individual:hover {
  bottom: -4px;
  right: -4px;
  box-shadow: 4px 4px 0px hsl(10, 100%, 72%);
}

.intro-link-individual:focus {
  bottom: -7px;
  right: -7px;
  box-shadow: 1px 1px 0px hsl(10, 100%, 72%);
}

.git-hub-link {
  margin-inline-end: 1em;
}

.linked-in-link {
  margin-inline-end: 1em;
}

/* project card component */

.project-cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-container {
  background-color: hsl(0, 0%, 100%);
  height: 30em;
  width: 23em;
  border-radius: 5%;
  margin-block-end: 3em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.project-image {
  height: 14em;
  width: 23em;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.project-card-text {
  margin-inline: 1em;
}

.project-github-logo {
  width: 2.5em;
}

.githib-link-wrapper {
  display: flex;
  justify-content: start;
  gap: 1em;
}

.card-github-button {
  width: 8em;
  height: 1em;
  padding: 0.5em;
  background-color: hsl(10, 100%, 81%);
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 0px;
  box-shadow: 8px 8px 0px hsl(10, 100%, 72%);
  text-align: center;
  transition: all 0.25s;
  border-radius: 5%;
}

.card-github-button:focus {
  bottom: -7px;
  right: -7px;
  box-shadow: 1px 1px 0px hsl(10, 100%, 72%);
}

.card-github-button:hover {
  bottom: -4px;
  right: -4px;
  box-shadow: 4px 4px 0px hsl(10, 100%, 72%);
}
